.footer {
    background-color: #353535;
    color: #fff;
    padding: 1.5rem 0;
    
}

.footer-container {
   width: 85%;
   margin: auto;
   max-width: 120rem;
    
}

.footer-container img {
    width: 139px;
    height: 27px;
    margin: 0;

}

.footer ul {
    margin-top: 1.25rem;
    
}


.footer ul li {
    margin-bottom: 1rem;
}

.footer__liste {
    list-style: none;
    padding-left: 0;
}

.footer a {
    color: white;
    text-decoration: none;
    position: relative;
}

.footer-logo-2 {
    opacity: 0;
}